<!-- 左側導航欄 -->
<div id="sidebar" class="sidebar d-flex flex-column">
    <div class="sidebar-content keyboard-scrollable" tabindex="0">
        <!-- LOGO 和鏈接 -->
        <a class="brand d-flex align-items-center" href="/" id="home-link">
            <img src="images/brand.svg" alt="brand" />
            <span class="mx-3 brand-text">ADMINIFY</span>
        </a>

        <!-- 導航菜單 -->
        <nav class="nav flex-column py-3">
            <div class="menu-item">
                <a href="/" class="nav-link">
                    <span class="icon"><i class="bi bi-speedometer"></i></span>
                    <span class="text">儀表盤</span>
                </a>
            </div>
            <div class="menu-item">
                <a
                    href="javascript:void(0)"
                    class="nav-link"
                    data-menu-id="menu-1"
                >
                    <span class="icon">
                        <i class="bi bi-box-seam-fill"></i>
                    </span>
                    <span class="text">頁面</span>
                </a>
                <div id="menu-1" class="sub-menu">
                    <a href="pages.html" class="nav-link" id="nav-1-1">
                        <span>頁面管理</span>
                    </a>
                </div>
            </div>
            <div class="menu-item">
                <a
                    href="javascript:void(0)"
                    class="nav-link"
                    data-menu-id="menu-2"
                >
                    <span class="icon">
                        <i class="bi bi-newspaper"></i>
                    </span>
                    <span class="text">文章</span>
                </a>
                <div id="menu-2" class="sub-menu">
                    <a href="javascript:void(0)" class="nav-link" id="nav-2-1">
                        <span>新聞管理</span></a
                    >
                    <a href="javascript:void(0)" class="nav-link" id="nav-2-2">
                        <span>分類管理</span>
                    </a>
                </div>
            </div>
            <div class="menu-item">
                <a
                    href="javascript:void(0)"
                    class="nav-link"
                    data-menu-id="menu-3"
                >
                    <span class="icon">
                        <i class="bi bi-medium"></i>
                    </span>
                    <span class="text">媒體库</span>
                </a>
                <div id="menu-3" class="sub-menu">
                    <a href="javascript:void(0)" class="nav-link" id="nav-3-1">
                        <span>媒體管理</span>
                    </a>
                </div>
            </div>
            <div class="menu-item">
                <a
                    href="javascript:void(0)"
                    class="nav-link"
                    data-menu-id="menu-4"
                >
                    <span class="icon">
                        <i class="bi bi-people-fill"></i>
                    </span>
                    <span class="text">用戶</span>
                </a>
                <div id="menu-4" class="sub-menu">
                    <a href="javascript:void(0)" class="nav-link" id="nav-4-1"
                        ><span>用戶管理</span></a
                    >
                    <a href="javascript:void(0)" class="nav-link" id="nav-4-1"
                        ><span>分組管理</span></a
                    >
                </div>
            </div>
            <div class="menu-item">
                <a
                    href="javascript:void(0)"
                    class="nav-link"
                    data-menu-id="menu-5"
                >
                    <span class="icon">
                        <i class="bi bi-box2-heart-fill"></i>
                    </span>
                    <span class="text">權限</span>
                </a>
                <div id="menu-5" class="sub-menu">
                    <a href="javascript:void(0)" class="nav-link" id="nav-5-1">
                        <span>資源管理</span>
                    </a>
                    <a href="javascript:void(0)" class="nav-link" id="nav-5-2">
                        <span>角色管理</span>
                    </a>
                </div>
            </div>
            <div class="menu-item">
                <a
                    href="javascript:void(0)"
                    class="nav-link"
                    data-menu-id="menu-6"
                >
                    <span class="icon">
                        <i class="bi bi-gear-fill"></i>
                    </span>
                    <span class="text">設置</span>
                </a>
                <div id="menu-6" class="sub-menu">
                    <a href="javascript:void(0)" class="nav-link" id="nav-6-1"
                        ><span>基礎</span></a
                    >
                </div>
            </div>
        </nav>
    </div>
</div>
